.form{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: blue;
    margin: 2rem;
    border: 2px solid dodgerblue;
    background-color: blanchedalmond;
    padding: 2rem 1rem;
    max-width: 30% ;
    
}